@charset "utf-8";
*{
margin: 0px;
padding: 0px;
}
/*基本没用到字没有调*/
:root{
font-size: 62.5%;
}
a:link{
text-decoration: none;
}
a{
	color: rgb(60,60,60)
}
input{
	outline:none;
	border: 0px;
}
li{
	list-style: none;
}


hr{
	width: 170px;
	border: 1px  dashed rgb(184,184,184) ;
margin: 0px auto;
}
/*清除浮动*/
.clear{
clear: both;
}
/*左浮动*/
.fl{
float: left;
}
/*右浮动基本没用到*/
.fr{
float: right;
}
.red{
color: rgb(250,0,6);
}
/*主要内容样式轻时髦和享瘦也可以用于品牌馆*/
.cont
{
width: 1240px;
height: 500px;
margin:100px auto;
}
.cont div{
float: left;
}

.contcont{
margin-top:20px;
width: 1240px;
height: 500px;
}
/*模板顶部*/
.conttop
{
width: 1240px;
height: 25px;
}
.conttopimg{
text-align: center;
width:232px;
}
/*模板样式侧边*/
.contleftside{
height: 500px;
width: 230px;
}
.cetable{
width: 230px;
border-spacing: 0;
border-collapse: collapse;
}
.cetable td{
width: 111px;
height: 60px;
border: 2px solid rgb(242,242,242);
}
.cp1{
width:226px;
height: 240px;
border: 2px solid rgb(242,242,242);
border-bottom: 0px;
}
.cp1 img{
margin: 29px 7px;
width: 213px;
height: 183px;
}
.cmp{
margin-left: 20px;
width:305px ;
height:500px;
}
/*模板右边*/
.contrightside{
height: 500px;
width: 685px;
text-align: center;
}
.certable{
width: 685px;
border-spacing: 0;
border-collapse: collapse;
}
.certable td{
width: 225px;
height: 247px;
border: 2px solid rgb(242,242,242);
}
.certable td img{
width: 200px;
height: 180px;
padding: 10px 12px;
}

/*红人ba和好心水货样式*/
/*左边内容*/
.blc{
border: 2px solid rgb(242,242,242);
text-align: center;
float: left;
width: 226px;
height: 496px;
}
.blcp div{
margin:20px 28px;
}
.blc div:first-of-type{
margin-bottom: 0px;
}
.blctxt{
	margin: 10px;
}
.blctxt span{
	display: inline-block;
	height: 24px;
	width: 55px;
}
.blctxt span:first-of-type{
	margin-left: 0px;
}
/*右边内容*/
.brc{
width:990px;
height: 500px;
margin-left: 20px;
float: left;
}
/*.blcp{
	background-color: rgb(236,236,236);
	width: 226px;
}*/
.brctop{
width: 990px;
height: 330px;
}
.brctop div{
float: left;
width: 316px;
}
.brctop div:nth-of-type(2)
{
margin-left: 20px;
}
.brctop div:last-of-type{
margin-left: 20px;
}
.brctop img{
width: 316px;
height: 330px;
}
.brcbot{
width: 990px;
height: 170px;
}
.brcbotl,.brcbotm,.brcbotr{
float: left;
height: 170px;
width: 316px;
}
.brcbotll{
	float: left;
}
.brcbotlr{
	margin-top:80px;
	float: left;
}
.brcbotlr p:first-of-type{
	color: (90,90,90);

}
.brcbotlr p:last-of-type{
	color: red;
}
.brcbot div:nth-of-type(2)
{
margin-left: 20px;
}
.brcbot div:last-of-type{
margin-left: 20px;
}
.brcbot img{
padding-top:20px;
}
  