@charset "utf-8";
/* 导航部分 */
/*导航内容部分*/
nav ul{
list-style-type: none;
}
nav{
width: 100%;
min-width: 1240px;
height: 30px;
background-color:rgb(242,242,242);
}
#navbar{
height: 30px;
width: 1240px;
margin: 0px auto;
line-height: 30px;
}
#navbar ul li{
display: inline;
padding: 0 10px;
height: 30px;
line-height: 30px;
}
.splitline{
border-left: 1px solid #bbb
}

.mydd:before{
content: "";
width: 14px;
height: 12px;
display: inline-block;
background:url(../imgs/navi.png) no-repeat 0px -222px;
vertical-align: middle;
padding-right: 4px;
}
.bcar:before{
content: "";
width: 18px;
height: 15px;
display: inline-block;
background:url(../imgs/navi.png) no-repeat 0px -112px;
vertical-align: middle;
padding-right: 4px;
}
/*图标箭头样式*/
.jiantou:after{
content: "";
width: 7px;
height: 5px;
display: inline-block;
background:url(../imgs/navi.png) no-repeat 0px -160px;
vertical-align: middle;
margin-left:4px;
}
.myshop:before{
content: "";
width: 19px;
height: 20px;
display: inline-block;
background:url(../imgs/navi.png) no-repeat 0px -257px;
vertical-align: middle;
padding-right: 4px;
}
/* 导航栏结束 */
/* logo部分开始 */
/*左边内容*/
.logo{
width: 1240px;
height: 100px;
margin: 20px auto;
}
.logoleft {
display: inline-block;
width: 230px;
height: 100px;
}
.logoleft img{
margin: 25px 0px;
}
/*左边结束*/
/*logo中间*/
.search{
display: inline-block;
width: 910px;
height: 100px;
}
/*搜索框盒子为了定位*/
.searchbox{
height: 100px;
width: 600px;
margin: 30px auto;
}
/*搜索框*/
.seachtext{
width: 500px;
height: 40px;
border: 1px solid rgb(0,0,0);
display: inline-block;
}
.searchleft ,.searchtexttx{
display: inline-block;
line-height: 40px;
}
/*搜索按钮*/
.button{
display: inline-block;
background-color: rgb(44,44,44);
width: 70px;
height: 42px;
}
.button input{
width:20px;
height: 20px;
background:url(../imgs/navi.png) 0px -63px;
margin:12px 25px;
}
/*提醒文字*/

.tixing span{
display: inline-block;
margin: 10px 10px;
}
.tixing span:first-of-type{
margin-left: 0px;
}
/*logo右边*/
.logoright{
width: 96px;
height: 100px;
display: inline-block;
border:2px solid rgb(237,237,237);
text-align: center;
}
.logoright img{
width: 70px;
height: 70px;
margin:10px 15px 0px 15px;
}
.logoright span{
display: block;
}
/* logo结束 */
/* baner开始 */
.banner{
width:1240px;
height:600px;
margin: 20px auto;
}
/*左边部分*/
.bannerleft{
height: 600px;
width:230px;
}
/*左边文本设置*/
.blt{
height: 40px;
width: 230px;
background-color: rgb(251,41,84);
font-size: 20px;
color: white;
text-align: center;
line-height: 40px;
border-radius: 5px 5px 0px 0px;
}
/*下面商品文本区域设置*/
.blb{
width: 226px;
height:558px;
border: 2px solid rgb(250,0,6);
border-top:0px;
}
/*使得虚线内置*/
.blb ul{
padding: 10px;
}
.blb li{
width: 206px;
height: 40px;
font-size: 20px;
border-bottom: 1px  dashed rgb(184,184,184) ;
}
.blb li:last-of-type{
border-bottom: 0px;
}
.blb li dl{
width: 206px;
height: 40px;
}
.blb li dl dd{
font-size: 10px;
color: rgb(60,60,60);
height: 20px;
}
.blb li dl dt{
	color: black;
	font-weight:bold;
}

.blb li dl dd,.blb li dl dt{
display: inline-block;
float: left;
line-height: 40px;
}
.blb li dl dd{
	margin-left: 10px;
}
.blb li dl dd:nth-of-type(2) a{
	border-left:1px solid  rgb(206,206,206);
	border-right: 1px solid rgb(206,206,206);
	padding:0 10px;
}
/*商品文字区域结束*/
/*右边头部*/
.brt{
width:1010px;
height:38px;
border-bottom: 2px solid rgb(250,0,6);
}
.brt span{
font-size: 20px;
color: black;
line-height: 38px;
display: inline-block;
margin-left: 50px;
}
.brt span:first-of-type{
margin-left:50px;
}
/*右边图片内容*/
.brcont{
width: 1010px;
height: 560px;
}
.brbm{
margin: 20px 20px 0px 20px;
width: 715px;
height: 540px;
}
/*广告进度条部分不好做*/
.jindutiao{
position: relative;
top:-37px;
left: 270px;
width: 132px;
height: 27px;
background: url(../imgs/bg_combo.png);
}
.jdqiu{
width: 40px;
height: 20px;
background: url(../imgs/bg_combo.png)  0px -27px ;
margin-left: 10px;

}
.brbm img{
height:540px;
width:715px;
}
/*右边图片*/
.brbr{
height:536px;
width:251px;
border: 2px solid rgb(242,242,242);
margin-top:20px;
}

.brbr img{
margin: 20px 35px;
}
/*限时快抢*/
.xskq{
width: 1240px;
height:300px;
margin: 80px auto;
border-top:2px solid rgb(71,71,71);
}
/*限时快抢左边*/
.xskqleftside
{
width: 226px;
height:300px;
border-right:2px solid rgb(237,237,237);
border-left:2px solid rgb(237,237,237);
border-bottom: 2px solid rgb(237,237,237);
}
/*倒计时样式*/
.time{
width: 226px;
height: 50px;
}
.time span[id]{
display: inline-block;
width:24px ;
height:24px;
background-color:rgb(252,71,105);
color:rgb(255,255,255);
line-height:24px;
margin-top:26px;
float: left;
text-align: center;
border-radius: 5px;
}
.time span:not([id]){
display: inline-block;
color:rgb(252,71,105);
float: left;
height: 24px;
margin-top:26px;
width: 10px;
line-height: 24px;
text-align: center;
}
span:first-of-type{
margin-left:10px;
}
.time div{
float: left;
}
.time img{
margin-top:26px;
margin-left:10px;
}
/*倒计时下面的图片*/
.xskqlm img{
width: 226px;
height: 246px;
}
.xskqlb{
position: relative;
left: 150px;
top:-100px;
background:url(../imgs/bg_combo.png) no-repeat 0 -310px;
height: 75px;
width: 75px;
}
.xskqlb span{
display: inline-block;
color:white;
width: 75px;
height: 75px;
text-align: center;
margin-top:25px;
margin-left: 0px;
}
/*限时快抢中间*/
.xskqmin{
width: 575px;
height: 300px;
margin-left: 20px;
}
.xskqml{
width: 335px;
}
.xskqmr
{
width: 240px;
}
.xskqmin div{
float: left;
}
/*限时快抢右边*/
.xskqrightside{
width: 395px;
height:300px;
margin-left: 20px;
}
.xskqrightside div{
height: 145px;
width: 395px;
}
.xskqrightside img{
height: 145px;
width: 395px;
}
.xskqrightside div:first-of-type{
margin-bottom: 10px;
}
/*限时快抢结束*/
/* 品牌馆 */
.ppg{
width: 1240px;
height: 500px;
margin: 0px auto;
}
/*内容标头样式*/
.PPgtop{
width: 1240px;
height: 25px;
margin: 20px auto;
}
.line{
width: 504px;
margin-top:6px;
float: left;
}
.lineleft{
background:url(../imgs/bg_split.png) no-repeat;
width:12px;
height: 12px;
display: inline-block;
float: left;
}
.linemind{
background:url(../imgs/bg_split.png) repeat-x 0px -12px;
width:480px;
height: 12px;
display: inline-block;
float: left;
}
.lineright{
background:url(../imgs/bg_split.png) no-repeat 0px -24px;
width:12px;
height: 12px;
display: inline-block;
float: left;
}
.ppgtopimg{
text-align: center;
width:232px;
}
/*内容标题样式结束*/
/* 品牌馆内容 */
/*最蠢得方法*/
.ppgcont{
width: 1240px;
height: 500px;
margin-top:20px;
}
/*品牌馆左边*/
.ppgleftside
{
width: 226px;
height: 496px;
background-color: white;
border: 2px solid rgb(242,242,242);
clear: both;
}
.ppgleftside div{
float: left;
border: 1px solid rgb(242,242,242);
}
.ppgp1{
margin:13px 21px ;
}
.ppgleftside .linetop{
border-top: 2px solid rgb(242,242,242);
}
.ppgleftside .lineside{
border-right: 0px solid rgb(242,242,242);
}
.ppgleftside .linebot{
border-bottom:  0px solid rgb(242,242,242);
}
.ppgleftside .linesidel{
border-left: 0px solid rgb(242,242,242);
}
/*品牌馆中间*/
.ppgmind{
margin-left: 20px;
}
/*品牌馆右边*/
.ppgrightside{
width:685px;
height:498px;
}
.ppgrightside div img{
width: 200px;
height:180px;
padding:10px 12px;
}
.ppgrightside div p{
	margin-top:10px ;
	text-align: center;
}
.ppgrightside div:not(:last-child){
float:left;
border: 2px solid rgb(242,242,242);
width: 225px;
height: 247px;
}
.ppgrightside div:not(:nth-child(3n+1)){
margin-left: -2px;
}
.no-border-bottom{
margin-top:-2px;
}
/* 品牌馆结束 */
/* 网站底部 */
/*网站底部整天布局和背景*/
.webbot{
width: 100%;
height: 230px;
min-width: 1240px;
background-color: rgb(247,247,247);
border: 2px solid rgb(242,242,242);
border-left: 0px;
border-right: 0px;
}
/*网站底部内容*/
.webbotcont{
width: 1240px;
height: 138px;
margin: 0px auto;
font-size: 10px;
color: rgb(135,135,135);
min-width: 1240px;
}
.wbbl{
margin-top:20px;
width: 250px;
}
.wbbl p{
	margin-top:5px;
}
.wbbm{
width: 560px;
}
.wbmgs dl dd a,.wbmxfz dl dd a,.wbmsj dl dd a{
color: rgb(135,135,135);
}
.wbmgs dl dt,.wbmxfz dl dt,.wbmsj dl dt{
font-weight:bold;
color:black;
display: inline-block;
margin-bottom: 10px;
}
.wbmgs dl dd,.wbmxfz dl dd,.wbmsj dl dd{
	margin-bottom: 5px;
}
.wbbr{
width: 430px;
margin-top:20px;
font-weight:bold;
color:black;
}


.wbbrp{
width: 270px;
height: 30px;
background:url(../imgs/split.png) 366px -50px;
margin-top:10px;
}
.wbbm div{
float:left;
margin-left: 100px;
margin-top:20px;
}
/*网站最下面的链接*/
.wbblink{
width: 1240px;
height: 68px;
margin: 0px auto;
border-top:2px solid rgb(242,242,242);
}
.wbblink ul{
padding-left: 0px;
}
.wbblink ul li {
display: inline-block;
height: 20px;
margin-left:30px ;
margin-bottom: 20px;
margin-top:20px;
color:rgb(60,60,60);

}
.wbblink ul li:first-of-type{
margin-left: 0px;
}