@charset "utf-8";
.navbar > ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.navbar> ul > li{
	display: inline-block;
	width:120px;
	background-color: #3cf;
	color:#eee;
	float:left;
	text-align: center;
	height:30px;
	line-height: 30px;

}
.navbar > ul > li div{
	width: 120px;
	background-color: #3cc;
	color:#ccc;
	position: absolute;
}

.navbar > ul > li div a:link{
	text-decoration: none;
}